# An√°lise dos Setores da B3

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [3]:
    caminho_arquivos = '../dados/cvm'
    # Carregar DFC
    dfc = pd.read_csv(f'{caminho_arquivos}/DFC_MI.csv', sep=';', encoding='ISO-8859-1', decimal=',')

In [55]:
list_op_invest_fin = []

for ano in range(2015,2021):
    for mes in range(3,15,3):
        list_op_invest_fin.append(dfc[(dfc['CNPJ_CIA'] == '47.960.950/0001-21') & 
                    (pd.to_datetime(dfc['DT_REFER']).dt.month == mes) &
                    (pd.to_datetime(dfc['DT_REFER']).dt.year == ano) &
                    ((dfc['CD_CONTA'] == '6.01') |
                    (dfc['CD_CONTA'] == '6.02') |
                    (dfc['CD_CONTA'] == '6.03'))])

In [11]:
len(list_op_invest_fin)

24

In [56]:
list_fc = []

for op_invest_fin in list_op_invest_fin:
    fc = dict()
    fc['data'] = op_invest_fin.iloc[0]['DT_REFER']
    fc['operacional'] = op_invest_fin.iloc[0]['VL_CONTA']
    fc['investimento'] = op_invest_fin.iloc[1]['VL_CONTA']
    fc['financiamento'] = op_invest_fin.iloc[2]['VL_CONTA']
    list_fc.append(fc)

In [57]:
df_fc = pd.DataFrame(list_fc)

In [58]:
df_fc

          data  operacional  investimento  financiamento
0   2015-03-31    -142486.0      -32605.0        45667.0
1   2015-06-30     -59474.0      -75128.0       -50431.0
2   2015-09-30      58122.0     -106592.0       -93314.0
3   2015-12-31     462790.0       60849.0      -318344.0
4   2016-03-31     -90684.0      -34020.0       -81496.0
5   2016-06-30    -190907.0      -61040.0      -168017.0
6   2016-09-30    -120095.0      -89387.0      -173423.0
7   2016-12-31     267751.0     -135530.0      -150545.0
8   2017-03-31       7951.0      -33057.0      -318950.0
9   2017-06-30     327584.0      -75737.0      -585927.0
10  2017-09-30      82138.0     -123377.0      -379277.0
11  2017-12-31      19477.0     -168658.0       -37253.0
12  2018-03-31     517969.0      -36392.0      -119132.0
13  2018-06-30     879711.0     -124584.0      -487383.0
14  2018-09-30     746010.0     -237404.0      -502300.0
15  2018-12-31    1236164.0     -394112.0      -655672.0
16  2019-03-31    -121012.0      -95559.0       -89327.0
17  2019-06-30     231726.0     -605437.0       400329.0
18  2019-09-30     226376.0     -791686.0       188017.0
19  2019-12-31   -3329555.0     -928586.0      3964800.0
20  2020-03-31     443464.0     -135298.0      -225008.0
21  2020-06-30     541070.0     -193462.0       450169.0
22  2020-09-30    1430049.0     -400471.0      -144885.0
23  2020-12-31    2603882.0     -651445.0      -576807.0

In [54]:
list_op_invest_fin[23]

,CNPJ_CIA,DT_REFER,VERSAO,DENOM_CIA,CD_CVM,GRUPO_DFP,MOEDA,ESCALA_MOEDA,ORDEM_EXERC,DT_INI_EXERC,DT_FIM_EXERC,CD_CONTA,DS_CONTA,VL_CONTA,ST_CONTA_FIXA
587167,33.041.260/0652-90,2020-12-31,1,VIA S.A.,6505,DF Consolidado - Demonstra√ß√£o do Fluxo de Caix...,REAL,MIL,√öLTIMO,2020-01-01,2020-12-31,6.01,Caixa L√≠quido Atividades Operacionais,-4221000.0,S
587206,33.041.260/0652-90,2020-12-31,1,VIA S.A.,6505,DF Consolidado - Demonstra√ß√£o do Fluxo de Caix...,REAL,MIL,√öLTIMO,2020-01-01,2020-12-31,6.02,Caixa L√≠quido Atividades de Investimento,-444000.0,S
587214,33.041.260/0652-90,2020-12-31,1,VIA S.A.,6505,DF Consolidado - Demonstra√ß√£o do Fluxo de Caix...,REAL,MIL,√öLTIMO,2020-01-01,2020-12-31,6.03,Caixa L√≠quido Atividades de Financiamento,6285000.0,S