In [1]:
import pandas as pd

In [30]:
df_alunos = pd.read_excel('dados/questionario.xlsx')

In [31]:
df_alunos

,Carimbo de data/hora,Nome,Idade,Altura,Peso,Curso,Período,Sexo
0,2022-01-15 17:42:24.894,Silvio Miranda,39.0,1.66,66.0,Mestrado em Ciências Contábeis,3°,Masculino
1,2022-01-15 17:46:48.041,Beatriz Miranda,2.0,97.00,14.0,Administração,1°,Feminino
2,2022-01-15 17:47:10.068,Bernardo de Agapito,8.0,122.00,22.0,Economia,7°,Masculino
3,2022-01-15 17:47:55.765,Alline Agapito,40.0,1.64,53.0,Mestrado em Administração,8°,Feminino
4,2022-01-15 17:49:01.129,Krislâne Maria Pereira Mesquita,29.0,1.70,58.0,Mestrado em Ciências Contábeis,3°,Feminino
5,2022-01-15 17:49:32.376,Lívia Janaína Silva,28.0,157.00,72.0,Mestrado em Ciências Contábeis,3°,Feminino
6,2022-01-15 17:50:04.663,Aline de Freitas Valadão Rosa,30.0,162.00,57.0,Mestrado em Ciências Contábeis,3°,Feminino
7,2022-01-15 17:50:30.178,Sérgio Thiago Morais,39.0,174.00,82.0,Mestrado em Ciências Contábeis,3°,Masculino
8,2022-01-15 17:51:06.198,Leidiane de Sousa Lessa,24.0,161.00,61.0,Mestrado em Ciências Contábeis,3°,Feminino
9,2022-01-15 17:55:23.149,AMANDA TORRES MAGALHÃES,32.0,1.52,52.0,Mestrado em Administração,5°,Feminino
10,2022-01-15 17:56:01.871,ANA PAULA CANDIDA DIAS,26.0,1.67,81.0,Mestrado em Administração,5°,Feminino
11,2022-01-15 17:56:53.675,JÉSSICA VITORINO MARTINS,27.0,1.60,57.0,Mestrado em Administração,3°,Feminino
12,2022-01-15 17:58:28.613,TÚLIO SILVA OLIVEIRA,29.0,1.89,80.0,Mestrado em Administração,5°,Masculino
13,2022-01-15 17:59:45.893,GABRIELA RESENDE GOMES GUEDES,36.0,1.68,51.0,Mestrado em Administração,3°,Feminino

Colocar a penas a primeira Letra do Nome como maiúscula

https://pandas.pydata.org/docs/reference/api/pandas.Series.str.capitalize.html

In [32]:
df_alunos['Nome'] = df_alunos['Nome'].str.capitalize()

Padronizar a coluna Altura

In [35]:
df_alunos.loc[df_alunos['Altura'] > 3, 'Altura'] = df_alunos['Altura']/100

In [36]:
df_alunos

,Carimbo de data/hora,Nome,Idade,Altura,Peso,Curso,Período,Sexo
0,2022-01-15 17:42:24.894,Silvio miranda,39.0,1.66,66.0,Mestrado em Ciências Contábeis,3°,Masculino
1,2022-01-15 17:46:48.041,Beatriz miranda,2.0,0.97,14.0,Administração,1°,Feminino
2,2022-01-15 17:47:10.068,Bernardo de agapito,8.0,1.22,22.0,Economia,7°,Masculino
3,2022-01-15 17:47:55.765,Alline agapito,40.0,1.64,53.0,Mestrado em Administração,8°,Feminino
4,2022-01-15 17:49:01.129,Krislâne maria pereira mesquita,29.0,1.70,58.0,Mestrado em Ciências Contábeis,3°,Feminino
5,2022-01-15 17:49:32.376,Lívia janaína silva,28.0,1.57,72.0,Mestrado em Ciências Contábeis,3°,Feminino
6,2022-01-15 17:50:04.663,Aline de freitas valadão rosa,30.0,1.62,57.0,Mestrado em Ciências Contábeis,3°,Feminino
7,2022-01-15 17:50:30.178,Sérgio thiago morais,39.0,1.74,82.0,Mestrado em Ciências Contábeis,3°,Masculino
8,2022-01-15 17:51:06.198,Leidiane de sousa lessa,24.0,1.61,61.0,Mestrado em Ciências Contábeis,3°,Feminino
9,2022-01-15 17:55:23.149,Amanda torres magalhães,32.0,1.52,52.0,Mestrado em Administração,5°,Feminino
10,2022-01-15 17:56:01.871,Ana paula candida dias,26.0,1.67,81.0,Mestrado em Administração,5°,Feminino
11,2022-01-15 17:56:53.675,Jéssica vitorino martins,27.0,1.60,57.0,Mestrado em Administração,3°,Feminino
12,2022-01-15 17:58:28.613,Túlio silva oliveira,29.0,1.89,80.0,Mestrado em Administração,5°,Masculino
13,2022-01-15 17:59:45.893,Gabriela resende gomes guedes,36.0,1.68,51.0,Mestrado em Administração,3°,Feminino

Cálculo do IMC

Fórmula
IMC = peso / (altura x altura)

In [37]:
df_alunos['IMC'] = df_alunos['Peso'] / (df_alunos['Altura'] * df_alunos['Altura'])

In [40]:
df_alunos['IMC'] = df_alunos['IMC'].round(2)

In [41]:
df_alunos

,Carimbo de data/hora,Nome,Idade,Altura,Peso,Curso,Período,Sexo,IMC
0,2022-01-15 17:42:24.894,Silvio miranda,39.0,1.66,66.0,Mestrado em Ciências Contábeis,3°,Masculino,23.95
1,2022-01-15 17:46:48.041,Beatriz miranda,2.0,0.97,14.0,Administração,1°,Feminino,14.88
2,2022-01-15 17:47:10.068,Bernardo de agapito,8.0,1.22,22.0,Economia,7°,Masculino,14.78
3,2022-01-15 17:47:55.765,Alline agapito,40.0,1.64,53.0,Mestrado em Administração,8°,Feminino,19.71
4,2022-01-15 17:49:01.129,Krislâne maria pereira mesquita,29.0,1.70,58.0,Mestrado em Ciências Contábeis,3°,Feminino,20.07
5,2022-01-15 17:49:32.376,Lívia janaína silva,28.0,1.57,72.0,Mestrado em Ciências Contábeis,3°,Feminino,29.21
6,2022-01-15 17:50:04.663,Aline de freitas valadão rosa,30.0,1.62,57.0,Mestrado em Ciências Contábeis,3°,Feminino,21.72
7,2022-01-15 17:50:30.178,Sérgio thiago morais,39.0,1.74,82.0,Mestrado em Ciências Contábeis,3°,Masculino,27.08
8,2022-01-15 17:51:06.198,Leidiane de sousa lessa,24.0,1.61,61.0,Mestrado em Ciências Contábeis,3°,Feminino,23.53
9,2022-01-15 17:55:23.149,Amanda torres magalhães,32.0,1.52,52.0,Mestrado em Administração,5°,Feminino,22.51
10,2022-01-15 17:56:01.871,Ana paula candida dias,26.0,1.67,81.0,Mestrado em Administração,5°,Feminino,29.04
11,2022-01-15 17:56:53.675,Jéssica vitorino martins,27.0,1.60,57.0,Mestrado em Administração,3°,Feminino,22.27
12,2022-01-15 17:58:28.613,Túlio silva oliveira,29.0,1.89,80.0,Mestrado em Administração,5°,Masculino,22.40
13,2022-01-15 17:59:45.893,Gabriela resende gomes guedes,36.0,1.68,51.0,Mestrado em Administração,3°,Feminino,18.07