In [25]:
import pandas as pd
import yfinance as yf
pd.set_option("display.max_rows", 500)
pd.set_option('display.max_columns', 500)

In [2]:
df_ibov = pd.read_csv('dados/b3/IBOVDia_02-03-22.csv', encoding='UTF-8', sep=';')

In [3]:
# listas as informações Nan no campo ação
# df_ibov[df_ibov['Ação'].isna()]
df_ibov.head()

  Codigo          Acao        Tipo  Qtde. Teorica Part. (%)
0  RRRP3  3R PETROLEUM  ON      NM    199.733.824     0,314
1  ALPA4    ALPARGATAS  PN      N1    167.963.777     0,201
2  ABEV3     AMBEV S/A          ON  4.359.908.680     3,076
3  AMER3    AMERICANAS  ON      NM    571.352.399     0,809
4  ASAI3         ASSAI  ON      NM    794.310.097     0,496

In [4]:
# Remover as linhas que possuem valor Nan
df_ibov.dropna(inplace=True)

In [115]:
df_cnpj = pd.read_csv('dados/b3/cad_cia_aberta.csv', encoding='ISO-8859-1', sep=';')

In [116]:
# Preencher na denominação comercial com valores de denominação social, caso esteja vazio 
df_cnpj['DENOM_COMERC'] = df_cnpj['DENOM_COMERC'].fillna(df_cnpj['DENOM_SOCIAL'])

In [117]:
# df_cnpj['SETOR_ATIV'].unique()
# df_cnpj.groupby('SETOR_ATIV').count()

Incluir as informações de CNPJ contidas no arquivo cad_cia_aberta.csv no conjunto de dados das ações do IBOVESPA

In [129]:
df_ibovespa = pd.DataFrame()
list_df = []
for i in range(0,len(df_ibov)):
    acao = df_ibov.iloc[i]
#     df_ = df_cnpj[df_cnpj['DENOM_SOCIAL'].str.contains(acao['Acao'][0:3])][['CNPJ_CIA','DENOM_SOCIAL','SETOR_ATIV']]
    df_ = df_cnpj[df_cnpj['DENOM_COMERC'].str.contains(acao['Acao'].split(' ')[0])][['CNPJ_CIA','DENOM_COMERC','SETOR_ATIV']]
    df_['CODIGO'] = acao['Codigo']
    df_['ACAO'] = acao['Acao']
    df_.reset_index(inplace=True, drop=True)
    if(len(df_) > 0):
        df_ = pd.DataFrame([df_.iloc[0]])
        df_ibovespa = pd.concat([df_ibovespa,df_])
    else:
        #Coleta empresas que não foram identificadas
        list_df.append(acao['Acao'])
df_ibovespa.reset_index(inplace=True,drop=True)

In [130]:
df_ibovespa.head()

,CNPJ_CIA,DENOM_COMERC,SETOR_ATIV,CODIGO,ACAO
0,12.091.809/0001-55,3R PETROLEUM OLÉO E GÁS S.A.,Petróleo e Gás,RRRP3,3R PETROLEUM
1,61.079.117/0001-05,ALPARGATAS,Têxtil e Vestuário,ALPA4,ALPARGATAS
2,07.526.557/0001-00,AMBEV S.A,Bebidas e Fumo,ABEV3,AMBEV S/A
3,00.776.574/0001-56,AMERICANAS S.A.,Comércio (Atacado e Varejo),AMER3,AMERICANAS
4,06.057.223/0001-71,ASSAI,Comércio (Atacado e Varejo),ASAI3,ASSAI

Coletar informação dos setores no Yahoo Finance

In [124]:
# ticker = 'PETR4.SA'
# setor = yf.Ticker(ticker).info['sector']
# setor
# df_ibovespa['SETOR'] = df_ibovespa['CODIGO'].apply(lambda x: yf.Ticker(x+'.SA').info['sector'])

Alterar nomes do DataFrame

In [131]:
df_ibovespa.columns = ['CNPJ','NOME_EMPRESA','SETOR','TICKER','NOME']

In [132]:
df_ibovespa.head()

,CNPJ,NOME_EMPRESA,SETOR,TICKER,NOME
0,12.091.809/0001-55,3R PETROLEUM OLÉO E GÁS S.A.,Petróleo e Gás,RRRP3,3R PETROLEUM
1,61.079.117/0001-05,ALPARGATAS,Têxtil e Vestuário,ALPA4,ALPARGATAS
2,07.526.557/0001-00,AMBEV S.A,Bebidas e Fumo,ABEV3,AMBEV S/A
3,00.776.574/0001-56,AMERICANAS S.A.,Comércio (Atacado e Varejo),AMER3,AMERICANAS
4,06.057.223/0001-71,ASSAI,Comércio (Atacado e Varejo),ASAI3,ASSAI

Quantidade de empresas por setor

In [138]:
df_ibovespa.groupby('SETOR')['TICKER'].count().sort_values(ascending=False)

SETOR
Comércio (Atacado e Varejo)                                11
Energia Elétrica                                           10
Bancos                                                      5
Comunicação e Informática                                   5
Metalurgia e Siderurgia                                     5
Petróleo e Gás                                              4
Emp. Adm. Part. - Serviços Transporte e Logística           3
Emp. Adm. Part. - Energia Elétrica                          3
Intermediação Financeira                                    3
Construção Civil, Mat. Constr. e Decoração                  3
Serviços Transporte e Logística                             3
Petroquímicos e Borracha                                    2
Papel e Celulose                                            2
Emp. Adm. Part. - Petróleo e Gás                            2
Seguradoras e Corretoras                                    2
Serviços Médicos                                            2
Alimentos                                                   2
Têxtil e Vestuário                                          2
Emp. Adm. Part. - Educação                                  2
Emp. Adm. Part. - Const. Civil, Mat. Const. e Decoração     2
Emp. Adm. Part. - Sem Setor Principal                       1
Emp. Adm. Part. - Comércio (Atacado e Varejo)               1
Telecomunicações                                            1
Arrendamento Mercantil                                      1
Bebidas e Fumo                                              1
Bolsas de Valores/Mercadorias e Futuros                     1
Saneamento, Serv. Água e Gás                                1
Embalagens                                                  1
Emp. Adm. Part. - Alimentos                                 1
Máquinas, Equipamentos, Veículos e Peças                    1
Emp. Adm. Part. - Máqs., Equip., Veíc. e Peças              1
Hospedagem e Turismo                                        1
Gráficas e Editoras                                         1
Farmacêutico e Higiene                                      1
Extração Mineral                                            1
Emp. Adm. Part. - Extração Mineral                          1
Emp. Adm. Part. - Telecomunicações                          1
Agricultura (Açúcar, Álcool e Cana)                         1
Name: TICKER, dtype: int64

In [147]:
df_ibovespa[df_ibovespa['SETOR'] == 'Metalurgia e Siderurgia']

,CNPJ,NOME_EMPRESA,SETOR,TICKER,NOME
14,07.636.657/0001-99,AÃO VERDE DO BRASIL S.A,Metalurgia e Siderurgia,BBAS3,BRASIL
41,33.611.500/0001-19,GERDAU S.A.,Metalurgia e Siderurgia,GGBR4,GERDAU
42,33.611.500/0001-19,GERDAU S.A.,Metalurgia e Siderurgia,GOAU4,GERDAU MET
77,20.141.321/0001-13,SIDERURGICA PAINS,Metalurgia e Siderurgia,CSNA3,SID NACIONAL
85,17.157.850/0001-09,USIMINAS,Metalurgia e Siderurgia,USIM5,USIMINAS

In [148]:
df_ibovespa.to_csv('dados/b3/df_ibovespa.csv')